<div class="jumbotron">
  <h1>Flashcard</h1>
  <p>Train your mind with this tried and true method that has been 
  used for nearly 200 years</p>
  <%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign in", new_session_path, class: "btn btn-lg btn-primary" %>
</div>
