<div class="row"><%= link_to @deck.name, @deck, class: "btn btn-default" %></div>
<br>
<div class="row">
  <h2><%= @card.front %></h2>
</div>
<div class="row">
  <div class="collapse" id="answer">
    <h2 class="text-success"><%= @card.back %></h2>
  </div>
</div>
<br>
<div class="row">
  <a class="btn btn-primary" data-toggle="collapse" href="#answer" aria-expanded="false" aria-controls="answer">
    Answer
  </a>
</div>

